BA-Transformer/Anaconda3-2023.07-2-Linux-x86_64.sh
data_10x

GNN/models/IEDB/IEDB_embeddings.pkl
GNN/models
GNN/processed_data
GNN/models/McPAS
GNN/models/TEINet
GNN/models/VDJdb
GNN/models/pMTnet
GNN/models/*.pkl
*.pth
*.tsv
*.csv


BA-Transformer/data/cleaned_datasets
BA-Transformer/data/concatenated_datasets
BA-Transformer/data/embeddings
BA-Transformer/data/physicoProperties
BA-Transformer/data/plain_data
BA-Transformer/data/plain_datasets
BA-Transformer/data/splitted_datasets
GNN



# Ignore Python tarball
BA-Transformer/Python-3.11.4.tgz

# Ignore extracted Python directory
BA-Transformer/Python-3.11.4/

# Ignore requirement files
BA-Transformer/requirements_server1.txt
BA-Transformer/requirements_server1_clean.txt










